<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <p>
        navbar
    </p>
    <nav>
        <ul>
            <li><a href="{{ url_for('bp.incidents') }}">Incidents</a></li>
            <li><a href="{{ url_for('bp.create_incident') }}">Create Incident</a></li>
            <li><a href="{{ url_for('bp.about') }}">About</a></li>

        </ul>
    </nav>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>