{% extends 'base.html' %}

{% block body%}
<h1>Review your open incidents</h1>

    {% for incident in incidents | selectattr("status", "equalto", "Open") %}
        <div class="incident">
            <h2>{{ incident.title }} | #{{ incident.id }} </h2>
            <p>Severity: {{ incident.severity }}</p>
            <p>Status: {{ incident.status }}</p>
            <p>Created at: {{ incident.created_at }}</p>
        </div>
    {% else %}
        <p>No open incidents found.</p>
    {% endfor %}
{% endblock %}