{% extends 'base.html' %}

{% block body %}
<div>
    <h1>
        {{ incident.title }} | 
        ID: #{{ incident.id }} |
        {{ incident.status }} | 
        Assigned to: {{ incident.assignee.name if incident.assignee else 'Unassigned' }}
        <form action="{{ url_for('bp.update_status', incident_id=incident.id) }}" method="POST">
            {% if incident.status == 'Open' and current_user.id == incident.assigned_to_id %} 
            <button type="submit" name="action" value="solve">Mark as Solved</button>
            {% endif %}
            {% if incident.status == 'Open' %} 
            <button type="submit" name="action" value="cancel">Cancel</button>
            {% endif %}
        </form>

    </h1> 
    <h2>
        Severity: {{ incident.severity }} | 
        Created at: {{ incident.created_at }} by {{ incident.creator.name }} |
    </h2>
    <p style="font-size: 20px">{{ incident.description }}</p>
</div>

<h2>Comments</h2>

<form action="{{ url_for('bp.comment_incident', incident_id=incident.id) }}" method="POST">
  <label for="comment"></label><br>
  <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
  <input type="submit" value="Submit">
</form>


{% for comment in comments %}
    <div class="comment">
        <p>{{ comment.content }}</p>
        <p><em>Posted at: {{ comment.created_at }}</em></p>
    </div>
{% else %}
    <p>No comments yet.</p>
{% endfor %}




{% endblock %}