{% extends 'base.html' %}

{% block body %}
<div>
    <h1>
        {{ incident.title }} | 
        ID: #{{ incident.id }} |
        {{ incident.status }}
        {% if incident.status == 'Open' %} 
        <form action="{{ url_for('bp.solve_incident', incident_id=incident.id) }}" method="POST">
            <button type="submit">Mark as Solved</button>
        </form>
        {% endif %} 
    </h1> 
    <h2>
        Severity: {{ incident.severity }} | 
        Created at: {{ incident.created_at }} |
    </h2>
    <p style="font-size: 20px">{{ incident.description }}</p>
</div>




{% endblock %}